<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
<table th:if="${customers}">
    <thead>
        <tr>
            <td>ID Customer</td>
            <td>Customer Name</td>
            <td>Customer Dob</td>
            <td>Customer Email</td>
            <td></td>
        </tr>
    </thead>

    <tbody>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.dob}"></td>
            <td th:text="${customer.email}"></td>
            <td>
                <a th:href="@{/customers/{id}(id=${customer.id})}">View Details</a>
            </td>

        </tr>
    </tbody>
</table>
</body>
</html>